html{
  /* overflow: hidden; */
}

#nmlstyl {

}

#artist_pic {

}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.container {
  background-color: black;
  width: 700px;
}
