html{
  /* overflow: hidden; */
}

#nmlstyl {
  z-index: 1;
  display: inline-block;
  font-size: 8em;
  font-family: Arial;
  color: black;
  background-color: white;

}

#artist_pic {

}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.container {
  background-color: black;
  width: 700px;
}

#defaultCanvas0 {
  z-index: -1;
  position: absolute;
  top:0;
  left:0;
}
